<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Invoices</title>
<link rel="stylesheet" href="/css/site.css">
</head>
<body>

	{{> common/_nav }}
	<h1>Invoices</h1>
	
	<a href="/invoices/clients">Create a new invoice</a>
	
	{{#showTable}}
	<table>
	  <thead>
	    <tr>
	      <th>Number</th>
	      <th>Client</th>
	      <th>Created by</th>
	    </tr>
	  </thead>
	  <tbody>
	    {{#invoices}}
	      <tr>
	        <td>{{ invoiceNumber }}</td>
	        <td>{{ company.name }}</td>
	        <td>{{ createdBy.username }}</td>
	      </tr>
	    {{/invoices}}
	  </tbody>
	</table>
	{{/showTable}}
	
	{{^showTable}}
	<div>There are no invoices.</div>
	{{/showTable}}

</body>
</html>